<ion-header>
  <ion-toolbar>
    <ion-title>Controle de Estoque</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addProduct()">Adicionar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item
      *ngFor="let product of products"
      button
      (click)="editProduct(product.id)"
      detail="true"
    >
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>R$ {{ product.price.toString().replace(".", ",") }}</p></ion-label
      >
      <ion-badge slot="end">{{ product.quantity }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
